---
permalink: 
  en: /en/newsletter-feed.xml
  no: /no/newsletter-feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  {% if permalink === '/en/newsletter-feed.xml' %}
    {% set siteTitle = "AI Safety Norway - Newsletter" %}
    {% set newsletterlist = collections.enNewsletter %}
    {% set lang = 'en' %}
  {% else %}
    {% set siteTitle = "AI Safety Norway - Nyhetsbrev" %}
    {% set newsletterlist = collections.noNewsletter %}
    {% set lang = 'no' %}
  {% endif %}
  
  <title>{{ siteTitle }}</title>
  <subtitle>{{ "newsletter.subtitle" | i18n(lang) }}</subtitle>
  <link href="https://aisafety.no{{ permalink }}" rel="self"/>
  <link href="https://aisafety.no/{{ lang }}/newsletter/"/>
  <updated>{{ newsletterlist | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>https://aisafety.no/{{ lang }}/newsletter/</id>
  <author>
    <name>AI Safety Norway</name>
    <email>contact@aisafety.no</email>
  </author>
  
  {%- for post in newsletterlist -%}
  {%- set absolutePostUrl %}https://aisafety.no{{ post.url | url }}{% endset -%}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    {% if post.data.author %}<author><name>{{ post.data.author }}</name></author>{% endif %}
    {% if post.data.description %}<summary>{{ post.data.description }}</summary>{% endif %}
    {% if post.data.keywords %}
      {% set keywordsList = post.data.keywords | split(',') %}
      {% for keyword in keywordsList %}
      <category term="{{ keyword | trim }}" />
      {% endfor %}
    {% endif %}
  </entry>
  {%- endfor -%}
</feed> 