---
permalink: /sitemap-index.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <sitemap>
    <loc>https://aisafety.no/sitemap.xml</loc>
    <lastmod>{{ collections.sitemapPages | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>https://aisafety.no/newsletter-sitemap.xml</loc>
    <lastmod>{{ collections.enNewsletter | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>https://aisafety.no/en/feed.xml</loc>
    <lastmod>{{ collections.enNewsletter | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>https://aisafety.no/no/feed.xml</loc>
    <lastmod>{{ collections.noNewsletter | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>https://aisafety.no/en/newsletter-feed.xml</loc>
    <lastmod>{{ collections.enNewsletter | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>https://aisafety.no/no/newsletter-feed.xml</loc>
    <lastmod>{{ collections.noNewsletter | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
  </sitemap>
</sitemapindex> 