---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" 
        xmlns:xhtml="http://www.w3.org/1999/xhtml"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
{%- for page in collections.sitemapPages %}
  <url>
    <loc>https://aisafety.no{{ page.url | url }}</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    
    {%- for lang in languages %}
    {%- set alternateUrl = page.url | getAlternateUrl(lang.code) -%}
    {%- if alternateUrl %}
    <xhtml:link 
      rel="alternate" 
      hreflang="{{ lang.code }}" 
      href="https://aisafety.no{{ alternateUrl | url }}" 
    />
    {%- endif %}
    {%- endfor %}
    
    {% if page.url.indexOf('/newsletter/') !== -1 or page.url.indexOf('/nyhetsbrev/') !== -1 %}
      <changefreq>daily</changefreq>
      <priority>0.9</priority>
    {% else %}
      <changefreq>{{ page.data.sitemapChangefreq | default("monthly") }}</changefreq>
      <priority>{{ page.data.sitemapPriority | default(0.8) }}</priority>
    {% endif %}
    
    {%- if page.data.image %}
    <image:image>
      <image:loc>https://aisafety.no{{ page.data.image }}</image:loc>
      <image:title>{{ page.data.title }}</image:title>
      <image:caption>{{ page.data.description }}</image:caption>
    </image:image>
    {%- endif %}
  </url>
{%- endfor %}
</urlset> 